* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #03A9F4;
	margin: 10px;
	height: 97vh;
	color: #eee;
}

.content {
	display: flex;
	margin-top: 40px;
	justify-content: space-evenly;
}

#title {
	display: inline-block;
	font-size: 3rem;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-variant: small-caps;
	font-family: sans-serif;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.button-container a{
	display: block;
	margin: 20px;
	background-color: #eee;
	border-radius: 100px;
	padding: 15px 17px;
	text-decoration: none;
	outline: none;
	box-shadow: 3px 5px 4px rgba(0,0,0,0.15);
	transition: all .35s ease;
}

.button-container a:active {
	transform: scale(0.9);
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

#code-area, #output {
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-size: 1.1rem;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#code-area::placeholder, #output::placeholder {
	text-align: center;
}